<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
  </head>
  <body>
    <br>
  <button onclick="getlocation()">get location</button>

  <div id="output"></div>
  <form id="form" method="post" action="{% url ''%}">
    {% csrf_token %}
    <input type="number" name="latitude">
    <input type="number" name="longitude">
    <input type="submit">
  </form>
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

  <script type="text/javascript">
    var x = document.getElementById('output');
    var form = document.getElementById('form');

    function getlocation(){
      if (navigator.geolocation)
      {
        navigator.geolocation.getCurrentPosition(showPosition);
      }
    }

    function showPosition(position){
      x.innerHTML = "latitude = "+position.coords.latitude
      x.innerHTML+="<br />"
      x.innerHTML+= "Longitude = "+position.coords.longitude

      form.latitude.value = position.coords.latitude
      form.longitude.value = position.coords.longitude

    }
  </script>
  </body>
</html>