<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>

  <h3 style="text-align: center;">Edit Dish</h3>
  <form method="POST">
    {% csrf_token %}
    <div style="margin-left: 450px;">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" value="{{dish.name}}" name="name" v>
        </div>
        
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" value="{{dish.price}}" name="price">
        </div>
      </div>
      
    
      <button type="submit" class="btn btn-primary" style="margin-left: 200px;">Save</button>
    </div>

  <!-- <form method="POST">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" value="{{dish.name}}" name="name" id="name">
    <label for="name">Price:</label>
    <input types="number" value="{{dish.price}}" name="price" id="price">

    <input type="submit" value="Save">
  </form>
   -->
</body>
</html>